[submodule "localizacion_calidad"]
	path = localizacion_calidad
	url = https://github.com/Tysamncaweb/Localizacion_intelectra.git
	branch = master
[submodule "intelectra_calidad"]
	path = intelectra_calidad
	url = https://github.com/Tysamncaweb/Localizacion_intelectra.git
	branch = master
